fastapi>=0.115.14
uvicorn>=0.35.0
python-dotenv>=1.0.1
requests>=2.32.3
pydantic>=2.11.7
yt-dlp>=2025.6.30
openai-whisper>=20250625
minio>=7.2.0
httpx>=0.28.1
bertopic>=0.17.3
tbb>=2022.2.0
sentry-sdk[fastapi]
langchain-openai>=0.3.0
langchain-core>=0.3.0
# sudo apt install ffmpeg